<!DOCTYPE html>
<html layout:decorate = "~{layout}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>
	
	<section class="layout-content" layout:fragment = "corpo">
	
		<th:block th:include="fragments/mensagemValidacao"></th:block>
		
		<br>
		<div class="container formEvento">
			<form method="post" class="container"> <!--agora vamos criar todas as tags input-->
				<div class="form-group">
					Nome: <input type="text" class="form-control" placeholder="Nome do evento" name="nome"/>
				</div>
				
				<div class="form-row">
					<div class="form-group col-md-7">	
						Local: <input type="text" class="form-control" placeholder="Local do evento" name="local"/>
					</div>
					
					<div class="form-group col-md-3">
						Data: <input type="date" class="form-control" name="data"/>
					</div>
						
					<div class="form-group col-md-2">
						Horário: <input type="time" class="form-control" placeholder="Horário do evento" name="horario"/>
					</div>
				</div>
				
				<button type="submit" class="btn btn-primary"><i class="fas fa-share"></i> Salvar</button> <!--quando clicarmos em salvar, ele vai salvar os dados no BD-->
			</form>
		</div>
	</section>
</body>
</html>