<!DOCTYPE html>
<html layout:decorate = "~{layout}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>

	<section class="layout-content" layout:fragment = "corpo">	
	
		<div th:each="evento : ${evento}" class="container detalhesEvento">
			<!-- para mostrar na mesma linha -->
			<div class="row">
				<!-- quando for acessar um objeto, utiliza-se a tag span -->
				<div class="alert alert-primary">Nome: <b><span th:text="${evento.nome}"></b></span></div>
				<div class="alert alert-primary">Local: <b><span th:text="${evento.local}"></b></span></div>
				<div class="alert alert-primary">Data: <b><span th:text="${#temporals.format(evento.data, 'dd/MM/yyyy')}"></b></span></div>
				<div class="alert alert-primary">Horário: <b><span th:text="${evento.horario}"></b></span></div>
			</div>
		</div>
			<!-- inclusão da mensagem de validação -->
		<th:block th:include="fragments/mensagemValidacao"></th:block>
		
		<div class="container formConvidado">
			<form th:object="${convidado}" method="POST">
				<div class="form-group">
					Nome: <input type="text" class="form-control" id="nomeConvidado" placeholder="Nome do convidado" name="nomeConvidado"/>
				</div>
				<div class="form-group">	
					RG: <input type="text" class="form-control" id="rg" placeholder="RG do convidado" name="rg"/>
				</div>
				<button type="submit" class="btn btn-primary"><i class="fas fa-plus-circle"></i> Adicionar</button>
			</form>
		</div>
		
		<div class="container text-center"><h5>Lista de convidados</h5></div>
		<table class="table table-hover container">
			<thead class="thead-light">
				<tr>
					<th class="text-center">Nome do convidado</th>
					<th class="text-center">RG</th>
					<th class="text-center">Deletar</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="convidado : ${convidados}">
					<td class="text-center align-middle" width="60%"><span th:text="${convidado.nomeConvidado}"></span></td>
					<td class="text-center align-middle" width="30%"><span th:text="${convidado.rg}"></span></td>
					<td class="text-center align-middle" width="10%"><a th:href="${(#mvc.url('EC#deletarConvidado').arg(0, convidado.rg)).build()}"><i class="fas fa-trash"></i></a></td>
				</tr>
			</tbody>
		</table>
	</section>
</body>