<!DOCTYPE html>
<html>
<head><meta charset="UTF-8"></head>
<body>
	<header th:fragment = "cabecalho">
		<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
		  <span class="navbar-brand mb-0 h1">Eventos</span>
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
		    <span class="navbar-toggler-icon"></span>
		  </button>
		  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
		    <div class="navbar-nav">
		      <a class="btn btn-primary" th:href="@{/}"><i class = "fas fa-home"></i> Home</a>
		      <a class="btn btn-primary" th:href="@{/cadastrarEvento}"><i class = "fas fa-plus-circle"></i> Cadastrar</a>
		      <a class="btn btn-primary" th:href="@{/eventos}"><i class = "fas fa-list"></i> Listar</a>
		    </div>
		  </div>
		</nav>
	</header>
</body>
</html>