<!DOCTYPE html>
<html>

<head>
	<!-- Meta tags Obrigatórias -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

	<!-- para que a view possa reconhecer o style criado por mim -->
	<!-- o objetivo ao criar o styleCss é fazer com que não fique tudo tão junto na página -->
	<link rel="stylesheet" href="style/styleCss.css"/>
	
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
</head>

<body>

	<header>
		<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Alterna navegação">
		    <span class="navbar-toggler-icon"></span>
		  </button>
		  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
		    <a class="navbar-brand text-white"><b>Lista de Eventos</b></a>
			<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
<!-- 		      <li class="nav-item active"> -->
<!-- 		        <a class="nav-link" href="#">Home <span class="sr-only">(Página atual)</span></a> -->
<!-- 		      </li> -->
<!-- 		      <li class="nav-item"> -->
<!-- 		        <a class="nav-link" href="#">Link</a> -->
<!-- 		      </li> -->
		   	</ul>
		    <form class="form-inline my-2 my-lg-0">
		      <a href="/cadastrarEvento" class="btn btn-success my-2 my-sm-0"><i class="fas fa-plus-circle"></i> Cadastrar Evento</a>
		    </form>
		  </div>
		</nav>
	</header>
	
	<br>
	<table class="table table-hover">
		<thead class="thead-light">
			<tr>
				<th class="text-center">Nome</th>
				<th class="text-center">Local</th>
				<th class="text-center">Data</th>
				<th class="text-center">Horário</th>
				<!-- coluna criada posteriormente para deletar -->
				<th class="text-center">Deletar</th>
			</tr>
		</thead>
		<tbody>	
			<!-- o th significa que estamos usando o thymeleaf -->
			<tr th:each="evento : ${eventos}"> <!-- de cada evento, serão pegas as informações abaixo (nome, local, data e horario) -->
				<!-- o evento.codigo é o que a gente vai passar para o controller -->
				<td class="text-center align-middle" width="40%"><a th:href="${(#mvc.url('EC#detalhesEvento').arg(0, evento.codigo)).build()}"><span th:text="${evento.nome}"></span></td>
				<td class="text-center align-middle" width="25%"><span th:text="${evento.local}"></span></td>
				<td class="text-center align-middle" width="15%"><span th:text="${evento.data}"></span></td>
				<td class="text-center align-middle" width="10%"><span th:text="${evento.horario}"></span></td>
				<!-- coluna criada posteriormente para deletar -->
				<!-- passamos o codigo (evento.codigo) para ser recebido em deletarEvento na classe EventoController -->
				<td class="text-center align-middle" width="10%"><a th:href="${(#mvc.url('EC#deletarEvento').arg(0, evento.codigo)).build()}"><i class="fas fa-trash"></i></a></td>
			</tr>
		</tbody>
	</table>
	
	<!-- JavaScript (Opcional) -->
    <!-- jQuery primeiro, depois Popper.js, depois Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

</body>

</html>